#prevDifficultyButton,
#nextDifficultyButton,
#prevTimeButton,
#nextTimeButton,
.arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-background-radius: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.arrow-button:hover {
    -fx-opacity: 0.8;
}

.arrow-button:pressed {
    -fx-opacity: 0.6;
}

#startButton,
#restartButton,
#exitButton {
    -fx-background-insets: 1;
    /* Fixes the black leaking out of the border*/
    -fx-font-size: 38px;
    -fx-background-color: #1a1a1a;
    -fx-border-color: white;
    /* Add white border */
    -fx-border-width: 2px;
    /* Set border width to thin */
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
}

#scoreScreenButton,
#helpStarsButton,
#closeButton,
.otherButtons {
    -fx-background-insets: 0;
    /* Fixes the black leaking out of the border*/
    -fx-background-color: #1a1a1a;
    -fx-border-color: white;
    /* Add white border */
    -fx-border-width: 2px;
    /* Set border width to thin */
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

#startButton:hover,
#restartButton:hover,
#exitButton:hover {
    -fx-border-width: 0px;
    -fx-font-size: 38px;
    -fx-effect: dropshadow(three-pass-box, lime, 10, 0.5, 0, 0);
}

#scoreScreenButton:hover,
#helpStarsButton:hover,
#closeButton:hover,
.otherButtons:hover {
    -fx-border-width: 0px;
    -fx-effect: dropshadow(three-pass-box, lime, 10, 0.5, 0, 0);
}

#startButton:pressed,
#restartButton:pressed,
#exitButton:pressed {
    -fx-effect: dropshadow(three-pass-box, green, 10, 0.5, 0, 0);
}

.roomArrow {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0.5, 0.0, 0.0);
}

.roomArrow:hover {
    -fx-opacity: 0.75;
}

.rectangle-hoverable {
    -fx-opacity: 0.0;
}

.rectangle-hoverable:hover {
    -fx-opacity: 0.6;
}

.robot-hoverable {
    -fx-opacity: 0.0;
}

.robot-hoverable:hover {
    -fx-opacity: 0.2;
}

.button-hoverable {
    -fx-opacity: 0;
}

.button-hoverable:hover {
    -fx-opacity: 0.5;
}

#soundIcon:hover {
    -fx-opacity: 0.5;
}